body {
    background-image: url('../assets/images/bg.jpg');
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

u {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: Pixelify_Sans;
    src: url('../assets/fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf');
}

@font-face {
    font-family: SometypeMono;
    src: url('../assets/fonts/Sometype_Mono/SometypeMono-VariableFont_wght.ttf');
}

.pixelify-sans-font {
    font-family: Pixelify_Sans;
}

.cabecalho {
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 100px;
    width: 80vw;
    border: 2px solid white;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.cabecalho-title {
    text-align: center;
    color: white;
    font-size: large;
}

.cabecalho-links {
    margin-top: -10px;
    display: flex;
    justify-content: space-evenly;
}

.cabecalho-links-text {
    color: white;
    font-family: SometypeMono;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    width: 80vw;
    height: auto;
    border: 2px solid white;
    border-radius: 20px;
}

.userStyle {
    margin-right: 18px;
    margin-left: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    border: 2px solid white;
    border-radius: 20px;
    height: 220px;
    width: 300px;
    background-color: black;
}

.usernameDiv{
    margin-top: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.usernamePfpDiv {
    display: inline-flex;
    align-items: center;
}

.pfpStyle {
    margin-top: 10px;
    margin-left: 18px;
    height: 55px;
    width: 55px;
    border-radius: 100px;
    border: 2px solid white;
}

.usernameStyle {
    background-color: white;
    border-radius: 7px;
    color: black;
    font-size: 20px;
    font-family: Pixelify_Sans;
    width: fit-content;
    flex-shrink: 0; 
    flex-grow: 0;
}

.userStatusDiv{
    border-radius: 7px;
    margin-top: 7px;
    background-color: white;
    display: inline-flex;
    align-items: center;
    width: 70px;
    flex-shrink: 0; 
    flex-grow: 0;
}

.userStatusImg{
    height:10px;
    margin-left: 3px;
}

.userStatusOnline{
    color:black;
    width: 5px;
    font-family: SometypeMono;
    margin-left: 5px;
    font-size: 12px;
    text-shadow: 
    -0.3px -0.3px 0 #000000,  /* Top-left shadow */
    0.3px -0.3px 0 #000000,   /* Top-right shadow */
    -0.3px 0.3px 0 #000000,   /* Bottom-left shadow */
    0.3px 0.3px 0 #000000;    /* Bottom-right shadow */
}

.userStatusOffline{
    margin-left: 5px;
    font-size: 12px;
    font-family: SometypeMono;
    color:#666666;
}

.lastOnline{
    margin-top: 5px;
    font-size: 12px;
    font-family: SometypeMono;
    text-shadow: 
    -0.3px -0.3px 0 #000000,  /* Top-left shadow */
    0.3px -0.3px 0 #000000,   /* Top-right shadow */
    -0.3px 0.3px 0 #000000,   /* Bottom-left shadow */
    0.3px 0.3px 0 #000000;    /* Bottom-right shadow */
}

.elementsDiv{
    margin-top: 8px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.descriptionStyle{
    font-family: SometypeMono;
    font-size: 15px;
}

.elementsStyle {
    font-family: SometypeMono;
    font-size: 13px;
}

.roleStyle{
    font-family: SometypeMono;
    font-size: 13px;
    margin-top: 10px;
}
