body{
    background-image: url('../assets/images/bg.jpg');
    background-color: black;
}
h1{
    color:white;
}

@font-face {
    font-family: SometypeMono;
    src: url('../assets/fonts/Sometype_Mono/SometypeMono-VariableFont_wght.ttf');
}
h2{
    color:white;
    font-family: SometypeMono;
    font-size: medium;
}
h3{
    color:white;
    font-family: SometypeMono;
    font-size: small;
    font-weight: lighter;
}

::placeholder {
    color: white;
    opacity: 1; 
    font-family: SometypeMono;
    font-weight: lighter;
  }
::-ms-input-placeholder { 
    color: white;
    font-family: SometypeMono;
    font-weight: lighter;
  }

@font-face {
    font-family: Pixelify_Sans;
    src: url('../assets/fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf');
}
.pixelify_sans_font{
    font-family: Pixelify_Sans;
}

.cabecalho{
    margin-top: -20px;
    margin-left:auto;
    margin-right: auto;
    background-color: black;
    height: 100px;
    width: 80vw;
    border:2px solid white;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}
.cabecalho-title{
    text-align: center;
    color:white;
    font-size: large;
}
.cabecalho-links{
    margin-top: -10px;
    display:flex;
    justify-content: space-evenly;
}
.cabecalho-links-text{
    color:white;
    font-family: SometypeMono;
}
.perfil{
    color:white;
    margin-top: 2vw;
    margin-left:4vw;
    font-family: Pixelify_Sans;
}
.content{
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    background-color: black;
    width: 80vw;
    height: 450px;
    border: 2px solid white;
    border-radius: 20px;
}
.contentFlex{
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: space-between;
}

input[type="file"] {
    display: none;
  }
.pfp{
    border: 2px solid white;    
    border-radius: 20px;
    width: 300px;
    height: 320px;
}
.pfpFlex{
    display: inline-flex;
    justify-content: space-between;
}
.profilePicture{
    border: 2px solid white;
    border-radius:100px;
    height:70px;
    width: 70px;
    margin-left:2vw;
}
.pfpButton{
    background-color: black;
    color:white;
    border:2px solid white;
    margin-top: 10px;
    margin-left: 20px;
    font-family: SometypeMono;
    cursor: pointer;
}
.pfpFileInput{
    background-color: black;
    color:white;
    border:2px solid white;
    margin-left: 20px;
    margin-top: 10px;
    padding: 6px 12px;
    display: inline-block;
    cursor: pointer;
    font-family: SometypeMono;
    font-size: small;
}

.descriptionItems{
    margin-left:2vw;
    background-color: black;
    color:white;
    border:2px solid white;
    border-radius: white;
    font-family: SometypeMono
}
.descriptionBox{
    margin-left:2vw;
    margin-right:2vw;
    width: 250px;
    height: 80px;
    background-color: black;
    color:white;
    border:2px solid white;
    border-radius: white;
    font-family: SometypeMono;
    resize: none
}

.data{
    border: 2px solid white;
    border-radius: 20px;
    height: 320px;
}
.dataContent{
    margin-left: 2vw;
    margin-right: 2vw;
}

.editInput{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.sendBtn{
    background-color: black;
    color:white;
    border:2px solid white;
    margin-top: 4px;
    font-family: SometypeMono
}

.information{
    background-color: black;
    border: 2px solid white;
    border-radius:20px;
    width: 300px;
    height: 320px;
}
.informationTitle{
    margin-left:2vw;
}
.informationText{
    margin-left:3vw;
    margin-right:3vw;
}