html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    background-image: url('../assets/bg.jpg');
  }

  @font-face {
    font-family: PixelatedDisplay;
    src: url('../assets/pixelated_display/PixelatedDisplay.ttf');
  }

  canvas {
    display: block;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .content{
    background-color: black;
    background-image: url('../assets/scenario-pixelate.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 1000px;
    height: 550px;
    border: 2px solid white;
    border-radius: 20px;
  }

  .returnButtonDiv{
    position: relative;
    top: -540px;
    left: 10px
  }

  .returnButton{
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.406);
    font-size: 17px;
    font-family: PixelatedDisplay;
  }

  .returnButton:hover{
    background-color: rgb(160, 160, 160);
    color: white
  }

  .burnBookDiv{
    display: inline-flex;
    align-items: center;
  }

  .burnBook{
    width: 550px;
    height: 550px;
    margin-left: -50px;
  }

.menuButton{
    margin-top: 15px;
    position: relative;
    z-index: 1;
    border: none;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
  }
  .menuButton::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 96%;
    height: 98%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}
  .menuButton:hover::before {
    background-color: rgba(255, 255, 255, 0.3);
}
.buttonImage{
    height:114px;
    width: 292px;
}